<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/site.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Maintenance</title>
    <style>
        body {
            background-color: #f5f5f5;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .maintenance-message {
            margin-top: 100px;
            font-size: 24px;
            color: #333;
        }

        .robot-image {
            margin-top: 50px;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="maintenance-message">
        <p>Under Maintenance</p>
        <p>We apologize for any inconvenience caused.</p>
    </div>
    <img src="https://res.cloudinary.com/dup5hdi05/image/upload/v1716714599/concept-computer-repair-service-vector-illustration_357257-952-removebg-preview_1_m7d1td.png" alt="Robot Image" class="robot-image">
</body>
</html>
